{% extends 'dashboard.html' %}
{% block content %}
<h2>All Items</h2>
{% if items %}
<table border="2" cellpadding="10" class="table table-bordered">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.Item_name}}</td>
            <td>{{item.Category}}</td>
            <td>{{item.price}}</td>
            <td>{{item.description}}</td>
            <td>{% if item.Image %}
                    <img src="{{ item.Image.url }}" width="80" height="80">
                {% else %}
                    No Image
                {% endif %}</td>
            <td ><a href="{% url 'deleteitem' item.id %}" style="color:red;">
                Delete</a>/<a href="{% url 'updateitem' item.id %}" style="color:rgb(0, 255, 162);">
                Edit</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td ><a href="{% url 'additem' %}" 
            style="padding:8px 15px; background:green; color:white; text-decoration:none;">
            + Add Category
            &nbsp;&nbsp;</a></td>
        </tr>
    </thead>
</table>
{% else %}
<h4>No Items in the list</h4>
        <tr>
            <td ><a href="{% url 'additem' %}" 
            style="padding:8px 15px; background:green; color:white; text-decoration:none;">
            + Add Category
            &nbsp;&nbsp;</a></td>
        </tr>
{% endif %}
{% endblock %}