{% extends "dashboard.html" %}

{% block content %}

   
    {% if booking %}
    <h2>Booking List</h2>
    <table border="2" cellpadding="10" class="table table-bordered">
        <thead>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Total Person</th>
            <th>Booking Date</th>
            <th>Items</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        {% for book in booking %}
        <tr>
            <td>{{book.Name}}</td>
            <td>{{book.Phone_number}}</td>
            <td>{{book.Email}}</td>
            <td>{{book.Total_person}}</td>
            <td>{{book.booking_date}}</td>
            <td>
                {% for item in book.items.all %}
                    {{ item.Item_name }}<br>
                {% empty %}
                    No Items
                {% endfor %}
            </td>
            <td>
                
                {% if book.status == 'Confirmed' %}
                    <span style="color:green;">Confirmed</span>
                {% elif book.status == 'Cancelled' %}
                    <span style="color:red;">Cancelled</span>
                {% else %}
                    Pending
                {% endif %}
            </td>
            <td>
                <form method="post" action="{% url 'update_booking' book.id %}">
                    {% csrf_token %}

                    <select name="status">
                        <option value="Pending" {% if book.status == 'Pending' %}selected{% endif %}>Pending</option>
                         <option value="Confirmed" {% if book.status == 'Confirmed' %}selected{% endif %}>
                            Confirmed
                        </option>

                        <option value="Cancelled" {% if book.status == 'Cancelled' %}selected{% endif %}>
                            Cancelled
                        </option>
                    </select>

                    <button type="submit" class="btn btn-success" >Update</button>
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Booking</h1>
    {% endif %}


{% endblock %}