{% extends "dashboard.html" %}

{% block content %}
<h2>Item Category</h2>
{% if itemlist %}
    <table border="2" cellpadding="10" class="table table-bordered">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for item in itemlist %}
        <tr>
            <td >{{item.Category_name}}</td>
            <td ><a href="{% url 'delete-itemcategory' item.id %}" style="color:red;">
                ❌ Delete</a>
            </td>
            
        </tr>
        {% endfor %}
        <tr>
            <td ><a href="{% url 'add-itemcategory' %}" 
            style="padding:8px 15px; background:green; color:white; text-decoration:none;">
            ➕ Add Category
            </a>&nbsp; &nbsp;</td>
        </tr>
    </table>
{% else %}
    <h4>No Items in the Item List</h4>
     <tr>
            <td ><a href="{% url 'add-itemcategory' %}" 
            style="padding:8px 15px; background:green; color:white; text-decoration:none;">
            ➕ Add Category
            </a>&nbsp; &nbsp;</td>
        </tr>
{% endif %}

{% endblock %}